extends layout 

block content 
    p Username: #{user.userName} 
    p Age: #{user.age} 
    p Quetion 1: #{user.securityQuestion1}
    p Question 2: #{user.securityQuestion2} 
    p Question 3: #{user.securityQuestion3} 
    p Last Time Visited: #{cookie.LastVisit}
    br
    a(href='/edit/' + user._id) Edit 
    br
    p 
    a(href='/logout') 
        input(type='submit' value='Log out')