extends layout

block content 
    table(class='gridtable')
        tr 
            th Username
            th Age 
            th Admin
            th Question 1 
            th Question 2
            th Question 3
            th 
        each item in people 
            tr 
                td 
                    a(href='/details/' + item._id) #{item.userName} 
                td #{item.age} 
                td #{item.admin}
                td #{item.securityQuestion1} 
                td #{item.securityQuestion2}
                td #{item.securityQuestion3}
                td
                    a(href='/edit/' + item._id) Edit 
                    a __
                    a(href='/delete/' + item._id) Delete 
                    a __
                    a(href='/makeAdmin/' + item._id) Grant Admin
                    a __
                    a(href='/removeAdmin/' + item._id) Revoke Admin
    p 
        a(href='/create') Add new person